src/main/resources/xml/data/data.dtd

<?xml version='1.0' encoding='iso-8859-1'?>

<!ELEMENT data (table)*>

<!ELEMENT field (value)*>
<!ATTLIST field id CDATA #IMPLIED >

<!ELEMENT record (field)*>
<!ATTLIST record id CDATA #IMPLIED >

<!ELEMENT table (record)*>
<!ATTLIST table id CDATA #IMPLIED >

<!ELEMENT value (#PCDATA)>
