src/main/resources/xml/ConsumerList.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    Typical usage:

    <?xml version="1.0"?>
    <!DOCTYPE ConsumerList SYSTEM "ConsumerList.dtd">

    <ConsumerList>
    ...
    </ConsumerList>
-->

<!ELEMENT AccountId EMPTY>

<!ELEMENT ClientId EMPTY>

<!ELEMENT Consumer (AccountId|ClientId)*>

<!ELEMENT ConsumerList (Consumer)*>
